<br><br>
<div class="page-header">

<button type="button" class="btn btn-default navbar-btn">
<%= link_to "Logout",  destroy_user_session_path, method: :delete if user_signed_in? %>
</button>

<% if current_user.admin? %>
<button type="button" class="btn btn-default navbar-btn">
	<%= link_to 'New Employee', new_user_path %>
</button>
<% end %>

<h1 align="center"; style="color:brown">Employee List</h1>
</div>

<table style="width:80%">
	<tr>
		<th>First Name</th>&nbsp;&nbsp;
		<th>Last Name</th>&nbsp;&nbsp;
		<th>Email</th>&nbsp;&nbsp;
		<th>Contact number</th>&nbsp;&nbsp;
		<% if current_user.admin? %>
			<th>Salary(Rs.)</th>
			<th colspan="4"></th>
		<% end %>
	</tr>

	<% @user.each do |user| %>
	<tr>
		<td><%= user.first_name %></td>
		<td><%= user.last_name %></td>
		<td><%= user.email %></td>
		<td><%= user.contact_no %></td>
		
		<% if current_user.admin? %>
			<td><%= user.salary %></td>
			<td><%= link_to 'Pay Slip', pay_slip_details_user_path(user) %></td>
			<td><%= link_to 'Edit', edit_user_path(user) %></td>
			<td><%= link_to 'Destroy', user_path(user), method: :delete,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        
	</tr>
	<% end %>	

</table><br><br>

<% if current_user.user? %>
	<%= current_user.first_name %>'s salary(Rs.):&nbsp; <%= current_user.salary %>
<% end %>
