<p><%= link_to "Logout",  destroy_user_session_path, method: :delete if user_signed_in? %></p>

<% if current_user.admin? %>
	<%= link_to 'New Employee', new_user_path %>
<% end %>

<h1>Employee List</h1>

<table>
	<tr>
		<th>First Name</th>&nbsp;&nbsp;
		<th>Last Name</th>&nbsp;&nbsp;
		<th>Email</th>&nbsp;&nbsp;
		<th>Contact number</th>&nbsp;&nbsp;
		<% if current_user.admin? %>
			<th>Salary(Rs.)</th>
		<% end %>
		<th colspan="4"></th>
	</tr>

	<% @user.each do |user| %>
	<tr>
		<td><%= user.first_name %></td>
		<td><%= user.last_name %></td>
		<td><%= user.email %></td>
		<td><%= user.contact_no %></td>
		
		<% if current_user.admin? %>
			<td><%= user.salary %></td>
			<td><%= link_to 'Generate Pay Slip', pay_slip_path %></td>
			<td><%= link_to 'Edit', edit_user_path(user) %></td>
			<td><%= link_to 'Destroy', user_path(user), method: :delete,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        
	</tr>
	<% end %>	

</table><br><br>

<% if current_user.user? %>
	<%= current_user.first_name %>'s salary(Rs.):&nbsp; <%= current_user.salary %>
<% end %>

<!-- <script>
    $(document).ready(function(){
      $('#medication_drug_id').change(function(){
        a = $(this).val()
        if ( a == '' ){
          $('#medication_custom').prop('disabled', false);
        }
        else {
          $('#medication_custom').prop('disabled', true);
        }
      })
    })
</script> -->