
<h1>Edit Employee Details</h1>

<div>
<%= form_for @user do |f| %>

<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being signing up:
	</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
     </ul>
 </div>

 <% end %>
 
<p>
	<%= f.label :First_name %><br>
	<%= f.text_field :first_name %>
</p>

<p>
	<%= f.label :Last_name %><br>
	<%= f.text_field :last_name %>
</p>

<p>
	<%= f.label :Contact_number %><br>
	<%= f.text_field :contact_no %>
</p>

<p>
	<%= f.label :Salary %><br>
	<%= f.text_field :encrypted_salary %>
</p>

<p>
	<%= f.submit "Save" %>
</p>

<% end %>

 </div>

<br><br><%= link_to 'Back', dashboard_path %>